<!doctype HTML>
<html>
    <head>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>

    <body>

        
        <div class='container' style= "padding-top:50px">
            <h4>New User Registration</h4> 
            <div class = 'form-group'>
                <div class = 'form-row'>
                    <div class = "form-group col-md-6">
                        <label>UserName</label>
                        <input class = "form-control" type = 'text' name = "uname">
                    </div>
                    <div class = "form-group col-md-6">
                        <label>Password</label>
                        <input class = 'form-control' name ="passw" type = "Password">
                    </div>
                    <div class = "form-group col-md-6">
                        <label>Retype Password</label>
                        <input class = 'form-control' name = "retypepass" type = "Password">
                    </div>
                    <div class = "form-group col-md-6">
                        <label>Email</label>
                        <input class= 'form-control' name = "emailinp" type='Email'>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>